{% extends 'base.html' %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{%  static 'css/template_css/linearicons.css' %}">
    <link rel="stylesheet" href="{%  static 'css/template_css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{%  static 'css/template_css/bootstrap.css' %}">
    <link rel="stylesheet" href="{%  static 'css/template_css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{%  static 'css/template_css/nice-select.css' %}">
    <link rel="stylesheet" href="{%  static 'css/template_css/animate.min.css' %}">
    <link rel="stylesheet" href="{%  static 'css/template_css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{%  static 'css/template_css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{%  static 'css/template_css/main.css' %}">
    <link rel="stylesheet" href="{%  static 'css/our_css/style.css' %}">
{% endblock %}

{% block header %}
    {% include 'partial/site-header.html' %}
{% endblock %}

{% block content %}
    {% include 'partial/breadcrumb.html' %}
    <section class="gallery-area section-gap">
        <div class="container">
            <div class="row">
                {% for photo in photos %}
                <div class="col-lg-4 mb-4">
                    <div class="gallery-photos-container">
                        <div class="gallery-photos-container-image"><a href="{{ photo.image.url }}" class="img-gal"><img src="{{ photo.image.url }}" alt="" class="club-gallery-image"></a></div>
                        {% if request.user in photo.club.managers.all %}
                            <a class="primary-btn action-btn text-uppercase d-block w-50 mx-auto my-2" href="{% url 'gallery_for_club_delete' photo.pk %}">Удалить</a>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
                {% if request.user in club.managers.all %}
                    <div class="col-lg-4 mb-4">
                        <div class="event-card d-flex align-items-center justify-content-center w-100 h-100">
                            <a href="{% url 'club_photogallery_add' club.pk %}" class="add-item">
                                <i class="fa-solid fa-circle-plus" style="font-size: 130px"></i>
                                <span class="add-item-text d-block mt-2 text-center">Добавить фото</span>
                            </a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>	
    </section>
    <section class="pagination">
        <div class="container">
            {% include 'partial/pagination.html' %}
        </div>
    </section>
{% endblock %}

{% block footer %}
    {% include 'partial/footer.html' %}
{% endblock %}

{% block scripts %}
    <script src="{%  static 'js/template_js/vendor/jquery-2.2.4.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="{%  static 'js/template_js/vendor/bootstrap.min.js' %}"></script>
{#    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>#}
    <script src="{%  static 'js/template_js/easing.min.js' %}"></script>
    <script src="{%  static 'js/template_js/hoverIntent.js' %}"></script>
    <script src="{%  static 'js/template_js/superfish.min.js' %}"></script>
    <script src="{%  static 'js/template_js/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{%  static 'js/template_js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{%  static 'js/template_js/jquery.tabs.min.js' %}"></script>
    <script src="{%  static 'js/template_js/jquery.nice-select.min.js' %}"></script>
    <script src="{%  static 'js/template_js/owl.carousel.min.js' %}"></script>
    <script src="{%  static 'js/template_js/mail-script.js' %}"></script>
    <script src="{%  static 'js/template_js/main.js' %}"></script>
{% endblock %}