{% extends 'base.html' %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{%  static 'css/template_css/linearicons.css' %}">
    <link rel="stylesheet" href="{%  static 'css/template_css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{%  static 'css/template_css/bootstrap.css' %}">
    <link rel="stylesheet" href="{%  static 'css/template_css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{%  static 'css/template_css/nice-select.css' %}">
    <link rel="stylesheet" href="{%  static 'css/template_css/animate.min.css' %}">
    <link rel="stylesheet" href="{%  static 'css/template_css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{%  static 'css/template_css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{%  static 'css/template_css/main.css' %}">
    <link rel="stylesheet" href="{%  static 'css/our_css/style.css' %}">
{% endblock %}

{% block header %}
    {% include 'partial/site-header.html' %}
{% endblock %}

{% block content %}
    {% include 'partial/breadcrumb.html' %}

    <section class="club-list mb-5">
        <div class="container">
            <div class="row club-list">
                {% for fest in festivals %}
                    <div class="single-popular-carusel col-lg-3 col-md-6">
                        <div class="thumb-wrap relative">
                            <div class="thumb relative">
                                <div class="overlay overlay-bg"></div>
                                <a href="{{ fest.get_absolute_url }}">
                                    <div class="image-container">
                                        <img class="img-fluid" src="{{ fest.image.url }}" alt="fest image">
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="details mt-3 mb-4">
                            <a href="{{ fest.get_absolute_url }}">
                                <h6 class="mt-1 text-uppercase text-center">
                                    {{ fest.name }}
                                </h6>
                            </a>
                            <p class="text-center">{{ fest.start_datetime }}</p>
                        </div>
                        <a href="{{ fest.get_absolute_url }}" class="d-block btn btn-primary w-100 my-2">
                            Страница фестиваля
                        </a>

                    </div>
                {% empty %}
                    <h5 class="festResponseText text-center mx-auto">Нет доступных фестивалей</h5>
                {% endfor %}
            </div>
        </div>
    </section>
    {% if request.user.is_superuser %}
    <section>
        <div class="container">
            <a href="{% url 'festival_create' %}" class="d-block text-center">Организовать фестиваль</a>
        </div>
    </section>
    {% endif %}
    <section class="pagination">

        <div class="container">
            {% include 'partial/pagination.html' %}
        </div>

    </section>
{% endblock %}

{% block footer %}
    <div style="position: fixed; bottom: 0; width: 100%">
        {% include 'partial/footer.html' %}
    </div>
{% endblock %}

{% block scripts %}
    <script src="{%  static 'js/template_js/vendor/jquery-2.2.4.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="{%  static 'js/template_js/vendor/bootstrap.min.js' %}"></script>
{#    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>#}
    <script src="{%  static 'js/template_js/easing.min.js' %}"></script>
    <script src="{%  static 'js/template_js/hoverIntent.js' %}"></script>
    <script src="{%  static 'js/template_js/superfish.min.js' %}"></script>
    <script src="{%  static 'js/template_js/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{%  static 'js/template_js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{%  static 'js/template_js/jquery.tabs.min.js' %}"></script>
    <script src="{%  static 'js/template_js/jquery.nice-select.min.js' %}"></script>
    <script src="{%  static 'js/template_js/owl.carousel.min.js' %}"></script>
    <script src="{%  static 'js/template_js/mail-script.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js" integrity="sha512-ykZ1QQr0Jy/4ZkvKuqWn4iF3lqPZyij9iRv6sGqLRdTPkY69YX6+7wvVGmsdBbiIfN/8OdsI7HABjvEok6ZopQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{%  static 'js/template_js/main.js' %}"></script>
    <script>
        function redirectToPage(selectElement) {
            let selectedValue = selectElement.value;
            window.location.href = selectedValue;
        }
        let currentOption = document.getElementById("current");
        let selectedOption = document.querySelector(".filter-option.selected")
        // console.log(currentOption)
    </script>
{% endblock %}