<form action="{{ form_action }}" method="{% if form_method %}{{ form_method }}{% else %}post{% endif %}" id="{{form_id}}" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.media }}
    <div class="block-errors" id="errors_non_field_errors">
    {% if form.non_field_errors %}
        {% for err in form.non_field_errors %}
          <p class="festResponseText text-center">{{ err }}</p>
        {% endfor %}
    {% endif %}
    </div>

    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}
    {% for field in form.visible_fields %}
    <div class="mb-2 text-center d-flex align-items-center flex-column">
        <label class="d-inline-block mx-auto">
            {{ field.label }}
            {% if field.field.required %}
                <span style="color: red;" class="required">*</span>
            {% endif %}
        </label>
        {% if form_id == "login_user_form" or form_id == "register_user_form"  or form_id == "password_reset_confirm" or form_id == "password_reset_form" %}
            <div class="col-12">
                {{ field }}
            </div>
        {% else %}
            <div class="col-12 col-lg-7">
                {{ field }}
            </div>
        {% endif %}
        <div class="block-errors" id="errors_{{ field.name }}">
            {% if field.errors %}
                {% for error in field.errors %}
                    <p class="festResponseText text-center">{{ error }}</p>
                {% endfor %}
            {% endif %}
        </div>
        {% if form.comments.help_text %}
            <p>{{ field.help_text }}</p>
        {% endif %}
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary my-3 d-block mx-auto">{{ btn_text }}</button>
</form>