<header id="header" id="home">
  {% load static %}
  <div class="header-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-sm-6 col-8 header-top-left no-padding">
          <ul>
            <li><a href="https://www.instagram.com/fan_club.kz/" target="_blank">fan-club.kz<i
                  class="fa-brands fa-instagram ml-1"></i></a></li>
            <li><a href="https://scena.kz/" target="_blank">scena.kz<i class="fa-solid fa-globe ml-1"></i></a></li>
            <li><a href="https://nurospan.kz/" target="_blank">nurospan.kz<i class="fa-solid fa-globe ml-1"></i></a>
            </li>
            <li><a href="tel:+77087722405">+77087722405</a></li>
            <li><img src="{% static 'images/Flag-Kazakhstan.webp' %}" alt="" class="flag-kz"></li>
          </ul>
        </div>
        <div class="col-lg-6 col-sm-6 col-4 header-top-right no-padding">
        </div>
      </div>
    </div>
  </div>
  <div class="container main-menu">
    <div class="row align-items-center justify-content-between d-flex">
      <div id="logo">
        <a href="{% url 'index' %}"><img src="{% static 'images/logo_v2.png' %}" alt="" title=""
            style="max-width: 150px;" /></a>
      </div>
      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li><a href="{% url 'clubs' %}">СООБЩЕСТВА</a></li>
          <li><a href="{% url 'publications' %}">НОВОСТИ ДЛЯ СООБЩЕСТВ</a></li>
          <li><a href="{% url 'club_events' %}">СОБЫТИЯ</a></li>
          <li><a href="{% url 'festivals' %}">ФЕСТИВАЛИ</a></li>
          <li><a href="{% url 'about' %}">О НАС</a></li>
          {% if request.user.is_superuser %}
          <li class="menu-has-children"><span class="administration sf-with-ul">Администрирование</span>
            <ul>
              <li><a href="{% url 'festival_create' %}">Организовать фестиваль</a></li>
              <li><a href="{% url 'service_for_club_create' %}">Добавить услугу</a></li>
              <li><a href="{% url 'publication_create' %}">Добавить новость</a></li>
            </ul>
          </li>
          {% endif %}
          <li class="menu-has-children"><span class="profile sf-with-ul">Профиль</span>
            <ul>
              {% if request.user.is_authenticated %}
              <li><a href="{{ request.user.get_absolute_url }}">ЛИЧНЫЙ КАБИНЕТ</a></li>
              <li><a href="{% url 'account_logout' %}" id="logout-btn">ВЫХОД</a></li>
              {% else %}
              <li><a href="{% url 'register' %}">РЕГИСТРАЦИЯ</a></li>
              <li><a href="{% url 'login' %}">ВХОД</a></li>
              {% endif %}
            </ul>
          </li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </div>
</header><!-- #header -->