{% load static %}
<header id="header" class="site-header">
    <!-- Header-top: контакты и соцсети -->
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-6 col-8 header-top-left no-padding">
                    <ul>
                        <li><a href="https://www.instagram.com/fan_club.kz/" target="_blank">fan-club.kz<i class="fa-brands fa-instagram ml-1"></i></a></li>
                        <li><a href="https://scena.kz/" target="_blank">scena.kz<i class="fa-solid fa-globe ml-1"></i></a></li>
                        <li><a href="https://nurospan.kz/" target="_blank">nurospan.kz<i class="fa-solid fa-globe ml-1"></i></a></li>
                        <li><a href="tel:+77087722405">+77087722405</a></li>
                        <li><img src="{% static 'images/Flag-Kazakhstan.webp' %}" alt="" class="flag-kz"></li>
                    </ul>
                </div>
                <div class="col-lg-6 col-sm-6 col-4 header-top-right no-padding">
                    <!-- Динамические действия будут здесь -->
                </div>
            </div>
        </div>
    </div>

    <!-- Main-menu: основная навигация -->
    <div class="container main-menu">
        <div class="row align-items-center justify-content-between d-flex">
            <div id="logo">
                <a href="/"><img src="{% static 'images/logo_v2.png' %}" alt="" title="" style="max-width: 150px;" /></a>
            </div>
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li><a href="/">Главная</a></li>
                    <li><a href="{% url 'clubs' %}">Сообщества</a></li>
                    <li><a href="/find-people/">🔍 Единомышленники</a></li>
                    <li><a href="{% url 'publications' %}">Новости для сообществ</a></li>
                    <li><a href="{% url 'club_events' %}">События</a></li>
                    <li><a href="{% url 'festivals' %}">Фестивали</a></li>
                    <li><a href="{% url 'about' %}">О нас</a></li>

                    <!-- Администрирование (только для суперпользователей) -->
                    {% if request.user.is_superuser %}
                    <li class="menu-has-children">
                        <span class="administration sf-with-ul">Администрирование</span>
                        <ul>
                            <li><a href="{% url 'festival_create' %}">Организовать фестиваль</a></li>
                            <li><a href="{% url 'service_for_club_create' %}">Добавить услугу</a></li>
                            <li><a href="{% url 'publication_create' %}">Добавить новость</a></li>
                            <li><a href="/admin/">Панель управления</a></li>
                        </ul>
                    </li>
                    {% endif %}
                </ul>
            </nav>

            <!-- User-actions: профиль пользователя -->
            <div class="user-actions">
                {% if request.user.is_authenticated %}
                    <div class="user-menu">
                        <span class="username">{{ user.username|default:user.email }}</span>
                        <ul class="dropdown">
                            <li><a href="{{ request.user.get_absolute_url }}">Личный кабинет</a></li>
                            <li><a href="{% url 'user_update' %}">Настройки</a></li>
                            <li><a href="{% url 'account_logout' %}" id="logout-btn">Выход</a></li>
                        </ul>
                    </div>
                {% else %}
                    <div class="guest-actions">
                        <a href="{% url 'register' %}" class="btn-register">Регистрация</a>
                        <a href="{% url 'login' %}" class="btn-login">Вход</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</header>